#board {
  width: 600px;
  height: 600px;
  position: relative;
  background-image: url(board.svg);
  border: 3px solid black;
  margin: auto;
}

.piece {
  position: absolute;
  background-image: url(piece.svg);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
  width: 100px;
  height: 100px;
}
